@media (max-width: 991px) {
    #makeCheckOut .checkOut .cnt {
        margin-left: 0;
    }
    .table-responsive{
        border: 1px solid #ddd;
    }
    .valI{
        width: 100%!important;
    }
}