.head-fix{
    background: #f8f8f8;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px 0 0 0;
    z-index: 200;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
header {
    background: #f8f8f8;
    height: 180px;
    padding-top: 20px;
    position: relative;
}
header .shopMenu {
    margin-left: -20px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: 700;
}
header .shopMenu li {
    margin: 0 0 0 15px;
    padding: 10px 5px;
    border-bottom: 2px solid transparent;
}
.shopMenu li a {
    border: none;
    color: #000;
    display: inline-block;
    height: 34px;
    line-height: 34px;
}
header .shopMenu li a:hover {
    color: #ce2029;
}
header .topPhone {
    margin-top: 20px;
}
header .cartLink {
    margin-top: 18px;
}
.cartLink {
    background: #8bb52c;
    color: #fff;
    border: none!important;
    display: inline-block;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    text-align: left;
    width: 32px;
    height: 32px;
    padding-left: 9px;
    line-height: 32px;
}
.cartLink:hover {
    background: #8bb52c!important;
    color: #fff!important;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.cartLink-big {
    background: #8bb52c!important;
    color: #fff!important;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.small, small {
    font-size: 85%!important;
}
.head-fix-sticky{
    padding: 0;
}
.bg-light-grey{
    background-color: #f8f8f8;
}
.mob-menu-logo{
    height: 40px;
}
.iMenu {
    background: #fff;
    border-bottom: 1px solid #eee;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 200;
}
.iMenu .rowMenu .cartLink {
    position: absolute;
    right: -5px;
    top: 6px;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    background: 0 0!important;
    color: #8bb52c!important;
    font-size: 18px;
}
.iMenu .rowMenu a.menu img {
    height: 40px;
}
.iMenu .rowMenu {
    position: relative;
    height: 50px;
}
.iMenu .rowMenu a.menu {
    position: relative;
    height: 40px;
    display: inline-block;
    margin-top: 5px;
    margin-left: -10px;
}
.iMenu .rowMenu .cartLink {
    position: absolute;
    right: -5px;
    top: 6px;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
    background: 0 0!important;
    color: #8bb52c!important;
    font-size: 18px;
}
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #333!important;
    background-color: #fff!important;

}

footer {
    /* Опустить в самый низ */
    /*margin-top: auto;*/
    background: #ce2029;
    color: rgba(255,255,255,.8);
    margin-top: 100px;
    padding: 80px 0 60px 0;
}

.bg-footer{
  background-color: #ce2029;
}
#makeCheckOut .checkOut .cnt {
    padding: 25px 30px 30px;
    border-radius: 10px;
    margin-left: 30px;
    border: 1px dashed rgba(255,255,255,.5);
    background: #ce2029!important;
}
#makeCheckOut .checkOut .total {
    color: #fff;
    font-size: 30px;
}
#makeCheckOut .checkOut .checkOutBtn {
    margin-top: 10px;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
#makeCheckOut .padTable a.del {
    display: inline-block;
    position: relative;
    border: none;
    color: rgba(255,255,255,.5);
}
#makeCheckOut .padTable a.del:hover {
    color: rgba(255,255,255,.8);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
footer .footerBtn {
    color: rgba(255,255,255,.8);
    background-color: transparent;
    border-color: rgba(255,255,255,.8);
}
.input-group-addon:first-child {
    border-right: 0;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    /* height: 30px; */
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    /* border-radius: 3px; */
    /* z-index: 26; */
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.caption{
    cursor: pointer;
}
.valI{
    width: 50px!important;
}
.ajaxLoader {
    position: fixed;
    width: 32px;
    height: 32px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1000;
    display: none;
}
.ajaxLoader .loaderRing {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 3px solid #000;
    border-radius: 32px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 1s linear 0s normal none infinite running rot;

}

@keyframes balMove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes balMove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ajaxLoader .loaderRing .loaderHolder {
    position: absolute;
    line-height: 1;
    width: 9px;
    height: 26px;
    -webkit-animation: balMove 1.3s linear normal none infinite running;
    -moz-animation: balMove 1.3s linear normal none infinite running;
    animation: balMove 1.3s  linear normal none infinite running;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ajaxLoader .loaderRing .loaderHolder .loaderBall {
    position: absolute;
    left: 0;
    top: -7px;
    width: 13px;
    height: 13px;
    background: #ce2029;
    border-radius: 11px;
}
header #shopMenu li.active {
    border-bottom: 2px solid #ce2029;
}

.logo.active {
    border-bottom: unset !important;
}
.ruble-ico{
    height: 10px!important;
}
.switcher-dropdown>li:hover .language-dropdown {
    background-color: white;
}
.woocommerce-message a{
    color: white;
    border-bottom: 1px dashed;
}
.woocommerce-message a:hover{
    color: wheat;
    border-bottom: 1px dashed;
}